/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */
body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: linear-gradient(to bottom, #ff4d4d, #cc0000);
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 20px;
}

/* Main Content */
.main-content {
    flex: 1;
    background-color: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card Container */
.card-container {
    display: flex;
    gap: 30px;
}

/* Card Buttons */
.dashboard-card {
    width: 200px;
    height: 120px;
    background: white;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}


/* Center wrapper */
.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Patient Card */
.patient-card {
    width: 400px;
    background: white;
    padding: 40px 30px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    position: relative;
}

/* Profile Image */
.profile-image {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Name & Location */
.patient-name {
    margin-top: 60px;
    font-size: 24px;
    font-weight: 600;
}

.patient-location {
    color: #aaa;
    margin-bottom: 30px;
}

/* Info Grid */
.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

/* Info Box */
.info-box {
    display: flex;
    flex-direction: column;
}

.label {
    color: #ff4d4d;
    font-size: 14px;
    margin-bottom: 5px;
}

.value {
    font-size: 20px;
    font-weight: 500;
}
