<!DOCTYPE html>
<html>
<head>
    <title>HMS Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>

<body>

      <div class="sidebar">
        <div class="side-button active">
            <i data-lucide="user"></i>
            <p>My Profile</p>
        </div>
        <div class="side-button">
            <i data-lucide="history"></i>
            <p>Past Treaments</p>
        </div>
        <div class="side-button">
            <i data-lucide="message-square"></i>
            <p>Support</p>
        </div>
        <div class="side-button">
            <i data-lucide="settings"></i>
            <p>Settings</p>
        </div>
    </div>

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>

    <script>
        lucide.createIcons();
    </script>
</body>
</html>
