{% extends 'admin_dashboard/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

<div class="table-card">

<div class="card-header">

<h2>{{ title }}</h2>

{% if add_url %}
<a class="btn"
href="{% url add_url %}">
Add New
</a>
{% endif %}

</div>


{% if objs %}

<table>

<thead>
<tr>

<th>#</th>
<th>Name</th>
<th>Actions</th>

</tr>
</thead>

<tbody>

{% for obj in objs %}

<tr>

<td>{{ forloop.counter }}</td>

<td>{{ obj }}</td>

<td>

{% if edit_name %}
<a class="btn-edit"
href="{% url edit_name obj.pk %}">
Edit
</a>
{% endif %}

{% if del_name %}
<a class="btn-delete"
href="{% url del_name obj.pk %}">
Delete
</a>
{% endif %}

</td>

</tr>

{% endfor %}

</tbody>

</table>

{% else %}

<p>No data found.</p>

{% endif %}

</div>

{% endblock %}
